
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Shared Components*/
.hero-color{
    background-color: rgba(255, 144, 14, 1);

}
.primary-btn{
    color: white;
    background-color:rgba(255, 144, 14, 1); 
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border: none;
    
}
.primary-btn:hover{
    color: rgba(255, 144, 14, 1);
    background-color:white; 
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600px;
    border: 1px solid rgba(255, 144, 14, 1);

}

/*header compnents*/

.header-cls{
    background-color: rgba(255, 144, 14, 0.1);
    background-size: cover;
    
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    /* padding: 50px 228px; */
    margin: 0 auto;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: bold;
    /* max-width: 50%; */
}
.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 50%; */
} 
 .list-item{
    list-style: none;
    margin-right: 30px;
    

} 
.list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    /* padding: 50px 228px; */
    margin: 0 auto;
}
.banner-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.banner-text{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}
.banner-img{
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 8px;
    max-width: 100%;
}

.team-feautres{
    max-width: 1440px;
    display: flex;
    gap: 73px;
    align-items: center;
    margin: 85px auto;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.img-prop{
    border-radius: 8px;
    max-width: 100%;
}
.team-body{
    max-width: 537px;

}
.of{
    font-weight: bold;
    font-size: 2.8rem;
    color: rgba(19, 19, 19, 1);
}
.quick{
    color: rgba(114, 114, 114, 1);
    font-weight: 600;
    font-size: 2.8rem;

}
.feature{
    color: rgba(255, 144, 14, 1);
    font-weight: bold;
    font-size: 2.8rem;
}
.team-text{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    
}
.love-and-joy{
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    gap: 146px;
}
.joy-body{
    max-width: 586px;
}
.joy-title{
    font-size: 2.8rem;
    font-weight: bold;
    border-left: 5px solid rgba(255, 144, 14, 1); 
    padding-left: 21px;
}
.joy-text{
    font-size: 1rem;
    color: rgba(114, 114, 114, 1);
}
.joy-card1{
    padding: 30px 42px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-top: 20px;

}
.joy-card1 h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 5px;
}


.joy-img{
    max-width: 708px;
    border-radius: 8px;
    
}
#badge{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -133px;
    margin-left: -92px;
    padding: 42px 45px;


}
#badge-year{
    font-size: 4rem;
    font-weight: bold;
}
.facts{
    display: flex;
    
    flex-direction: column;
    max-width: 1440px;
    margin: 130px auto;
    gap: 100px;
}
.facts-body-title{
    font-size: 2.8rem;
    font-weight: bold;
}

#facts-card-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.facts-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
.fact-card{
    padding: 46px 37px 60px 36px;
    border-radius: 8px;
    border: 1px solid rgba(255, 144, 14, 1);
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.fact-card img{
    max-width: 45px;
    
}
.fact-card h3{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgba(66, 66, 66, 1);
    margin-bottom: 5px;
    margin-top: 10px;
}

.sponsors{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 1440px;
    margin: 50px auto;
    gap: 50px;

}
.sponsors-body{
    text-align: center;
    max-width: 542px;
    
}
.sponsors-body h3{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.sponsors-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 156px;
    filter: grayscale(100%);
}

.footer{
    background-color: rgba(255, 244, 231, 1);
    max-width: 1440px;
    text-align: center;
    padding: 39px 410px;
    margin: 0 auto;
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Media Query*/

@media screen and (max-width:576px) {
    .navbar,.facts{
        flex-direction: column;
    }
    .sponsors-img{
        flex-direction: column;
        padding: 0 auto;
        max-width: 180px;
    }
    .team-feautres{
        flex-direction: column;
    }
    .love-and-joy{
        flex-direction: column;
    }
    #badge{
        max-width: 342px;
        margin: 10px 100px;
    }
    .facts-card{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .footer{
        padding: 20px 20px;
    }
    .joy-img-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}